.inbox1{
    /* height: 500px; */
    /* background-color: antiquewhite; */
    background-color: rgba(240, 248, 255, 0.668);

    text-align: center;

    }
    img.lg{
        margin-top: 70px;
    }
.sec1{
    background-image: url("digital-scrapbook.jpg");
    background-size:cover;
    background-position: top center;
    background-attachment: fixed;

}
.h{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
.hh{
    text-align: center;
    font-weight: bold;
}
.playbutton{
    height: 100px;
    /* background-color: bisque; */
    margin-top: 80px;

}
.bi{
    margin-top: 50px;
    color: black;
    margin-top: 60px;
    display: inline-block;
    
    font-size: 25px;

}
.video-box{
    margin-top: 60px;
    padding-right: 525px;
    font-size: 20px;
    }
.chevron{
    font-size: 30px;
    text-align: center;
    display: inline-block;
    padding: 50px;

}
.sec2{
    height: 100px;
    /* background-color: rgb(138, 138, 229); */
    margin-top: 50px;

}
.scrap{
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}
.feature{
    padding: 10px;
    margin-top: 30px;
}
.download{
    font-weight: bold;
}
.phone-box{
    height: 500px;
    /* background-color: aqua; */
    padding-left: 50px;
}
.line{
    max-width:50px;
    height: 2px;
    background-color: gray;
    margin: auto;
    
}
.line2{
    border: 1px solid gray;
    border-style: none solid;
}
.browser.box{
    height: 500px;
    background-color: antiquewhite;
}
.chrom{
    color: orangered;
    font-weight: bold;
    padding-right: 20px;
}
.multimedia-box{
    /* height: 400px; */
    /* background-color: antiquewhite; */
    margin-top: 200px;
}
.learn-box{
    /* height: 400px; */
    /* background-color: antiquewhite; */
    margin-top: 200px;
    padding: 50px;
}
.heading{
    font-size: 30px;
}
.relay{
    color:orangered;
}

.price{
    text-align: center;
    margin-top: 70px;
    
}
.iphone-box{
    height: 300px;
    /* background-color: antiquewhite; */
    margin-top: 50px;
    text-align: center;
}
.para{
    margin-top: 30px;
}
.dollar{
    font-size: 20px;
    color: orangered;
}
.free{
    color: orangered;
}
.download-box1{
    height:50px ;
    background-color: orangered;
    text-align: center;
}
.download-scrapd{
    color: aliceblue;
}
.ios{
    text-align: center;
}
.scraped-box2{
     min-height:70px;
    /* background-color: aqua; */
    text-align: center;
}
.scrapd-is{
    font-size: 20px;
}
.image-box{
     min-height: 150px;
 /* background-color: rgb(236, 179, 103); */
 text-align: center;

}
.icon-box{

    cursor: pointer;
}
img.img-scrapd{
    filter:grayscale(100%);border-radius: 50%;
    }
    .blog-box{
        text-align: center;
    }
    .blog{
        text-decoration: none;
    }
    .Netherlands-box{
        text-align: center;
    }
    .Netherlands{
        color: gray;
    }
        @media(max-width:568px){
            .learn-box{margin-top: 0px;}
        }
        
        
